.cart{
 
        width: 248px;
        height: 458px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative;
  
}
.cart img{
   
        width: 235px;
        height: 250px;
        border-radius: 8px;
        margin: 7px;

}
.cart-info{
        margin: 0 7px;
}
.cart-button{
        width: 95%;
        height: 40px;
        background-color: rgb(220, 193, 149);
        border: none;
        border-radius: 8px;
}
.cart-button:hover{
        background-color:rgb(236, 150, 11); ;
}
@media screen and (min-width:687px) and (max-width:991px){
        .cart{
                width: 100%;
                margin-left:0;
                font-size: 30px;
                height: 100%;
        }
        .cart img{
                width: 100%;
                margin: 0;
                margin-top: 7px;
        }
        .cart-info{
                margin: 0;
        }
        .cart-button{
                font-size: 30px;
                height: 50px;
        }
    }
@media only screen and (max-width:688px){
        .cart{
                width: 100%;
        }
        .cart img{
                width: 100%;
                margin: 0;
                margin-top: 7px;
        }
        .cart-info{
                margin: 0;
        }
}