.main-container{
 
    display: grid;
    grid-template-columns: 4fr 1fr;

    margin: 50px;
    margin-top: 0;
}

.selected-exercise-cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}