.details {
    position: sticky;
    top: 0;
    padding: 30px 23px;
}

.personal-info {
    display: flex;
    align-items: center;
}

.personal-info img {
    width: 40px;
    border-radius: 8px;
    margin-right: 5px;
}

.personal-info h3 {
    margin-bottom: 0;
}

.location p {
    margin-left: 4px;
    padding-top: 4px;
    margin-top: 0;
}

.exercise-time p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0;
}

.exercise-time small {
    font-size: 15px;
}

.exercise-time {
    margin-top: 18px;
    background-color: rgb(177, 170, 161);
    padding: 15px;
    border-radius: 5px;

}

.health-details {
    background-color: rgb(177, 170, 161);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding: 10px;
    border-radius: 6px;
}

.add-break-btn {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    background-color: rgb(177, 170, 161);
}

.add-break-btn button {
    height: 30px;
    background-color: rgba(226, 151, 39, 0.879);
    border: none;
    border-radius: 3px;
}

.add-break-btn button:hover {
    background-color: orange;
}
.activity-complited-button{
    height: 30px;
    background-color: rgba(226, 151, 39, 0.879);
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
}

@media screen and (min-width:687px) and (max-width:991px){
    .personal-info img {
        width: 80px;
        border-radius: 8px;
        margin-right: 0px;

    }
    .personal-info{
        font-size: 30px;
    }
    .health-details{
        font-size: 40px;
    }
    .add-break-btn {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
      
    }
    .add-break-btn button{
        font-size: 30px;
        height: 60px;
    }
    .add-breaks h3{
        font-size: 40px;   
    }
    .exercise-details h3{
        font-size: 40px;
    }
    .exercise-time p{
        font-size: 50px;
    }
    .exercise-time small{
        font-size: 40px;
    }
    .activity-complited-button{
        height: 60px;
        background-color: rgba(226, 151, 39, 0.879);
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-top: 20px;
        font-size: 35px;
    }
}
@media only screen and (max-width:688px) {
    .details {
        position: sticky;
        top: 0;
        padding: 30px 23px;
    }

    .personal-info img {
        width: 160px;
        border-radius: 8px;
        margin-right: 0px;

    }

    .personal-info {
        flex-direction: column;
        font-size: 30px;
    }

    .location p {
        margin-left: 0px;

    }

    .health-details {
        font-size: 30px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .add-break-btn{
        grid-template-columns: repeat(1, 1fr);
    }
    .add-break-btn button {
      margin-top: 10px;
      font-size: 30px;
      height: 60px;
    }
    .add-break-btn button:hover{
        background-color: orange;
    }
    .add-breaks h3{
        font-size: 30px;
    }
    .exercise-details h3{
        font-size: 30px;
    }
    .exercise-time p{
        font-size: 30px;
    }
    .exercise-time small {
        font-size: 25px;
    }
    .activity-complited-button{
        height: 60px;
        background-color: rgba(226, 151, 39, 0.879);
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-top: 20px;
        font-size: 30px;
    }
}